<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Edit {{employee.name}}</h4>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-show="error">
    <button type="button" class="close" ng-click="clearError()">&times;</button>
    <div ng-bind-html="error"></div>
  </div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="Name" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="employee.name">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="employee.email">
      </div>
    </div>
    <div class="form-group">
      <label for="max-hours" class="col-sm-3 control-label">Max Hours</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="max-hours" placeholder="Max Hours" ng-model="employee.max_hours">
      </div>
    </div>
    <div class="form-group">
      <label for="locations" class="col-sm-3 control-label">Locations</label>
      <div class="col-sm-9">
        <div class="checkbox" ng-repeat="location in locations">
          <label>
            <input type="checkbox" ng-model="location.assigned"> {{location.name}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="skills" class="col-sm-3 control-label">Skills</label>
      <div class="col-sm-9">
        <div class="checkbox" ng-repeat="skill in skills">
          <label>
            <input type="checkbox" ng-model="skill.assigned"> {{skill.title}}
          </label>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="save()"
    ng-disabled="submitText == 'Saving...'">{{submitText}}</button>
</div>
