<td>
  <input ng-model="employee.name" name="employee-name" placeholder="Name" class="form-control" type="text" ng-show="editing" on-enter="applyChanges(employee)">
  <span ng-hide="editing" ng-click="editEmployee()">{{ employee.name }}</span>
</td>
<td>
  <input ng-model="employee.email" name="employee-email" placeholder="Email" class="form-control" type="text" ng-show="editing" on-enter="applyChanges(employee)">
  <span ng-hide="editing" ng-click="editEmployee()">{{ employee.email }}</span>
</td>
<td>
  <input ng-model="employee.max_hours" name="employee-max-hours" ng-init="newEmp.max_hours = 10" placeholder="Max hours" class="form-control" type="number" min="0" max="20" step="0.5" ng-show="editing" on-enter="applyChanges(employee)">
  <span ng-hide="editing" ng-click="editEmployee()">{{ employee.max_hours }}</span>
</td>
<td ng-show="showDelete" class="employee-options">
  <button type="button" class="close" aria-hidden="true" ng-click="deleteEmployee(employee)">&times;</button>
</td>