
<table class="table table-hover table-striped" id="employees">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Max Hours</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.max_hours }}</td>
    </tr>
    <tr>
      <td><input ng-model="newName" placeholder="Name" class="form-control" type="text"></td>
      <td><input ng-model="newEmail" placeholder="Email" class="form-control" type="text"></td>
      <td><input ng-model="newMaxHours" placeholder="Max hours" class="form-control" type="number"></td>
    </tr>
  </tbody>
</table>
