<div class="row" ng-show="currentEmployee.isManager">
  <div class="col-sm-6">
    <table class="table table-hover" id="employees" style="margin-top: 15px;">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>Max Hours</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employees" ng-click="selectEmployee(employee)"
          ng-class="{'warning': employee == selectedEmployee}" class="clickable">
          <td><span>{{ employee.name }}</span></td>
          <td><span>{{ employee.email }}</span></td>
          <td><span>{{ employee.max_hours }}</span></td>
          <td><span class="glyphicon glyphicon-chevron-right close"
            ng-class="{'selected': employee == selectedEmployee}"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default" style="padding: 1em; margin-top: 3em;">
      <button type="button" class="close" ng-click="unselectEmployee()"
        ng-show="selectedEmployee.id">&times;</button>
      <h4 class="title" ng-show="selectedEmployee.id">Edit {{selectedEmployee.name}}</h4>
      <h4 class="title" ng-hide="selectedEmployee.id">New Employee</h4>
      <div class="alert alert-danger" ng-show="error">
        <button type="button" class="close" ng-click="clearError()">&times;</button>
        <div ng-bind-html="error"></div>
      </div>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="Name" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="selectedEmployee.name"
               typeahead="name for name in names | filter:$viewValue | limitTo:8">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="selectedEmployee.email">
          </div>
        </div>
        <div class="form-group">
          <label for="max-hours" class="col-sm-3 control-label">Max Hours</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="max-hours" placeholder="Max Hours" ng-model="selectedEmployee.max_hours">
          </div>
        </div>
        <div class="form-group">
          <label for="locations" class="col-sm-3 control-label">Locations</label>
          <div class="col-sm-9">
            <div class="checkbox" ng-repeat="location in locations">
              <label>
                <input type="checkbox" ng-model="location.assigned"> {{location.name}}
                <a class="glyphicon glyphicon-edit pull-right" ng-click="editLocation(location)"></a>
                <a class="glyphicon glyphicon-trash pull-right text-danger"
                  ng-click="confirmDeleteLocation(location)" style="margin-right: 5px;"></a>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" disabled>
                <input type="text" class="form-control" placeholder="New Location"
                  ng-model="newLocation.name" on-enter="createLocation()">
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="skills" class="col-sm-3 control-label">Skills</label>
          <div class="col-sm-9">
            <div class="checkbox" ng-repeat="skill in skills">
              <label>
                <input type="checkbox" ng-model="skill.assigned"> {{skill.title}}
                <a class="glyphicon glyphicon-edit pull-right" ng-click="editSkill(skill)"></a>
                <a class="glyphicon glyphicon-trash pull-right text-danger"
                  ng-click="confirmDeleteSkill(skill)" style="margin-right: 5px;"></a>
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" disabled>
                <input type="text" class="form-control" placeholder="New Skill"
                  ng-model="newSkill.title" on-enter="createSkill()">
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="button" class="btn btn-default"
              ng-click="unselectEmployee()" ng-show="selectedEmployee.id">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="save()"
              ng-disabled="submitText == 'Saving...'">{{submitText}}</button>
            <button type="button" class="btn btn-danger pull-right" ng-show="selectedEmployee.id"
              ng-click="confirmDeleteEmployee(selectedEmployee)">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</tabset>
<div class="col-md-12 text-center" ng-hide="currentEmployee.isManager">
  You do not have permission to view this page!
</div>
