<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
  <h4 class="modal-title" id="myModalLabel">New Shift</h4>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-show="error">
    <button type="button" class="close" ng-click="clearError()">&times;</button>
    <div ng-bind-html="error"></div>
  </div>
  <ul class="nav nav-pills nav-stacked">
    <li class="shift-list-item" ng-repeat="shift in newShifts track by $index">
      <div class="row">
        <span class="col-sm-4 text-right" style="border-right: 1px solid #999">
          {{ shift.start_datetime | date:'short' }}</span>
        <span class="col-sm-4">{{ shift.end_datetime | date:'short' }}</span>
        <span class="col-sm-3 text-right">Mandatory: <input type="checkbox" ng-model="shift.is_mandatory"></span>
        <span class="col-sm-1">
          <button type="button" class="close" ng-click="removeShift($index)"
             tooltip="Delete this shift" tooltip-placement="right">&times;</button>
        </span>
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="save()"
    ng-disabled="submitText == 'Saving...'">{{submitText}}</button>
</div>
