<div class="row" style="margin-top: 15px;">
  <div ng-class="{'col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2': currentEmployee.isManager,
    'col-sm-12 col-md-12': !currentEmployee.isManager}">
  <ul class="selection-dropdowns nav nav-pills nav-stacked" style="margin-bottom: 15px;">
    <li class="dropdown">
      <a class="dropdown-toggle btn btn-default">
        <h2 style="margin: 0px;">
          {{ selections.schedule.name }}
          <span style="font-size: 12px;" ng-show="currentEmployee.isManager">
            <span class="glyphicon glyphicon-edit" tooltip="Edit this schedule"
              ng-click="editSchedule(selections.schedule.id)" stop-event="click"></span>
          </span>
        </h2>
      </a>
      <ul class="dropdown-menu col-md-12">
        <li ng-repeat="schedule in schedules">
          <a ng-click="selections.schedule = schedule" class="text-center">{{ schedule.name }}</a>
        </li>
        <li ng-show="currentEmployee.isManager">
          <a ng-click="editSchedule()" class="text-center">Create New Schedule</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="row">
  
  <div class="col-sm-3 col-md-2" ng-show="currentEmployee.isManager">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="locationSkill in locationSkillCombinations" ng-class="{active: selections.lsCombination == $index}">
        <a ng-model="selections.lsCombination" ng-click="selections.lsCombination = $index" style="padding: 3px;">
          {{locationSkill.location.name + ' ' + locationSkill.skill.title}}
        </a>
      </li>
    </ul>
  </div>

  <div ng-class="{'col-sm-9 col-md-10': currentEmployee.isManager, 'col-sm-12 col-md-12': !currentEmployee.isManager}">

    <div class="alert alert-danger" ng-show="error">
      <button type="button" class="close" ng-click="clearError()">&times;</button>
      <div ng-bind-html="error"></div>
    </div>

    <div ui-calendar="uiConfig.calendar" class="calendar"
      ng-model="eventSources" calendar="plannerCalendar">
    </div>

    <div style="margin-top: 15px;">
      <button type="button" class="btn btn-default pull-left" ng-click="changeState()"
        ng-disabled="!readyToSubmit()">Mark as Complete</button>

      <div class="btn-group pull-right" ng-show="currentEmployee.isManager">
          <button type="button" class="btn btn-default" ng-click="selections.layer = 0"
            ng-class="{active: selections.layer == 0}" ng-disabled="loading > 0">Assignments</button>
          <button type="button" class="btn btn-default" ng-click="selections.layer = 1"
            ng-class="{active: selections.layer == 1}" ng-disabled="loading > 0">Availabilities</button>
          <button type="button" class="btn btn-default" ng-click=" selections.layer = 2"
            ng-class="{active: selections.layer == 2}" ng-disabled="loading > 0">Shifts</button>
      </div>
    </div>

  </div>

</div>
