<div class="row">
  <a ng-click="toggleNewSchedule()" class="btn btn-default pull-right" ng-class="{active: addNew}">New Schedule</a>
</div>

<div class="row" style="margin-top: 15px;">
  <div class="alert alert-danger" ng-show="error">
    <button type="button" class="close" ng-click="clearError()">&times;</button>
    <div ng-bind-html="error"></div>
  </div>

  <table class="table table-hover table-striped" id="schedules">
    <thead>
      <tr>
        <th class="col-sm-6">Name</th>
        <th class="col-sm-3">Start Date</th>
        <th class="col-sm-3">End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="addNew">
        <td>
          <input type="text" class="form-control" ng-model="newSched.name" placeholder="Schedules Name" on-enter="createSchedule()" />
        </td>
        <td>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="newSched.start_date" ng-required="true" placeholder="Start Date" ng-change="createSchedule()" />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </td>
        <td>
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="newSched.end_date" ng-required="true" placeholder="Start Date" ng-change="createSchedule()" />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </td>
      </tr>
      <tr ng-repeat="schedule in schedules" ng-click="editSchedule(schedule)">
        <td>{{schedule.name}}</td>
        <td>{{schedule.start_date}}</td>
        <td>{{schedule.end_date}}</td>
      </tr>
    </tbody>
  </table>
</div>
