<div class="panel panel-default">
  <div class="panel-body">
    <select ng-model="newShift.schedule_id" ng-options="schedule.id as scheduleName(schedule) for schedule in schedules" class="form-control">
    </select>
  </div>
</div>

<table class="table table-condensed table-bordered" id="selectable">
  <caption>
    <span>Jan 6 - Jan 10</span>
    <h3>SSH Helpdesk</h3>
  </caption>
  <thead>
    <tr>
      <th></th>
      <th>Mon 1/6</th>
      <th>Tue 1/7</th>
      <th>Wed 1/8</th>
      <th>Thu 1/9</th>
      <th>Fri 1/10</th>
    </tr>
  </thead>
  <tbody>
    <tr  ng-repeat="hour in hours" data-row="{{hour | date:'shortTime'}}">
      <td style="font-size:9pt;" rowspan="{{1/step}}"
        ng-show="hour.getMinutes() == 0"> {{hour | date:'shortTime'}}</td>
      <td data-col="0" class="time-cell"></td>
      <td data-col="1" class="time-cell"></td>
      <td data-col="2" class="time-cell"></td>
      <td data-col="3" class="time-cell"></td>
      <td data-col="4" class="time-cell"></td>
    </tr>
  </tbody>
</table>
