<div class="panel panel-default" style="padding: 3em;">
  <div class="alert alert-{{alertClass}}" ng-show="sendStatus">
    <button type="button" class="close" ng-click="clearStatus()">&times;</button>
    <div ng-bind-html="sendStatus"></div>
  </div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="name">Name</label>
      <div class="col-sm-9">
        <input ng-model="name" type="text" class="form-control" id="name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="email">Email</label>
      <div class="col-sm-9">
        <input ng-model="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="reason">Reason</label>
      <div class="col-sm-9">
        <input ng-model="reason" type="text" class="form-control" id="reason" placeholder="Reasons">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="SendRequest()" type="submit" class="btn btn-primary"
          ng-disabled="sendBtn == 'Sending...'">{{sendBtn}}</button>
      </div>
    </div>
    <div send-status-alert="requestSent"></div>
  </form>
</div>