/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require fullcalendar
 */


.navbar-static-top {
  margin-bottom: 19px;
}

.employee-options {
  position:absolute;
}

.cal-title {
  width: 15em;
}

li.shift-list-item {
  border: 1px dotted #ccc;
  border-radius: 3px;
  padding: 5px;
  margin: 3px 0px;
  background: #eee;
}

.nav.selection-dropdowns > li > a {
  border: 0px;
  font-size: 20px;
  padding: 0px;
}

.notification-alert {
  bottom: 0;
  right: 15px;
  z-index: 1;
  opacity: 0.8;
}

table {
  tr {
    &.clickable-row {
      cursor: pointer;
    }

    .actions {
      width: 5em;
      display: none;
      padding-right: 1em;
      white-space: nowrap;
    }
    
    span {
      margin: 0 0.1em;
    }
    
    &:hover {
      .actions {
        display: block;
        position: absolute;
      }
    }
  }
}