/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require fullcalendar
 */


.navbar-static-top {
  margin-bottom: 19px;
}

.employee-options {
  position:absolute;
}

.cal-title {
  width: 15em;
}

td.ui-selecting {
  background-color: #aaa;
}

td.ui-selected {
  background-color: #ccc;
}

table.calendar {
  z-index: 1;
}

table.calendar.table-bordered {
  border-collapse: collapse;
}

td.time-cell {
  position: relative;
  z-index: 2;
  height: 10px;
}

.fc-agenda-slots td div {
  height: 18px !important;
}

.fc-agenda .fc-agenda-axis {
  font-size:9pt;
  line-height:18px;
}