<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shift_assignment_status.name %>
</p>

<%= link_to 'Edit', edit_shift_assignment_status_path(@shift_assignment_status) %> |
<%= link_to 'Back', shift_assignment_statuses_path %>
